<div style="width: 100%; display: flex; flex-direction: column; padding: 10px">
  <div class="row">
    <div class="col-md-11">
      <h2 class="sub-header">Servers Status</h2>
    </div>
    <div class="col-md-1" style="position: absolute; right: 35px; top: 90px;">
      <button md-button (click)="checkStatusOfAll()">
        <i class="fa fa-refresh" style="font-size: 20px; cursor: pointer; padding-right: 5px;"  aria-hidden="true"></i>
        <span style="font-size: 15px">Refresh All</span>
    </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of serverDetails; let i = index">
      <md-card style="margin: 10px; margin-right: -5px">
        <md-card-title-group>
          <i *ngIf="item.isActive" style="font-size: 25px; color: #43A047" class="fa fa-check" aria-hidden="true"></i>
          <i *ngIf="!item.isActive" style="font-size: 25px; color: #D32F2F" class="fa fa-times" aria-hidden="true"></i>
          <md-card-title style="color: #37474F">
            <i class="fa fa-thumb-tack" style="color: #37474F; transform: rotate(-30deg); font-size: 18px;" aria-hidden="true"></i>
                {{item.server}}
          </md-card-title>
          <md-card-subtitle style="margin-top: -18px">{{item.description}}</md-card-subtitle>
        </md-card-title-group>
        <md-card-footer>
          <button md-button (click)="checkStatusOfThis(i)">
          <i class="fa fa-refresh" style="font-size: 20px; cursor: pointer"  aria-hidden="true"></i>
          Refresh
        </button>
        <button md-button style="position: absolute; right: 0px;" (click)="checkStatusOfThis(i)">
        <i class="fa fa-eye" style="font-size: 20px; cursor: pointer"  aria-hidden="true"></i>
        Visit Server
      </button>
        </md-card-footer>
      </md-card>
    </div>
  </div>
  <h2 class="sub-header">Recent Activity</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>Lorem</td>
          <td>ipsum</td>
          <td>dolor</td>
          <td>sit</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>amet</td>
          <td>consectetur</td>
          <td>adipiscing</td>
          <td>elit</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>Integer</td>
          <td>nec</td>
          <td>odio</td>
          <td>Praesent</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>libero</td>
          <td>Sed</td>
          <td>cursus</td>
          <td>ante</td>
        </tr>
        <tr>
          <td>1,004</td>
          <td>dapibus</td>
          <td>diam</td>
          <td>Sed</td>
          <td>nisi</td>
        </tr>
        <tr>
          <td>1,005</td>
          <td>Nulla</td>
          <td>quis</td>
          <td>sem</td>
          <td>at</td>
        </tr>
      </tbody>
    </table>
</div>
</div>
