<!-- <div class="app-content">
  <md-card>
    <button md-button>FLAT</button>
    <button md-raised-button>RAISED</button>
  </md-card>
  <md-card>
    <button md-icon-button>
      <md-icon class="md-24">favorite</md-icon>
    </button>
    <button md-fab>
      <md-icon class="md-24">add</md-icon>
    </button>
    <button md-mini-fab>
      <md-icon class="md-24">add</md-icon>
    </button>
  </md-card>
  <md-card>
    <button md-raised-button color="primary">PRIMARY</button>
    <button md-raised-button color="accent">ACCENT</button>
    <button md-raised-button color="warn">WARN</button>
  </md-card>
  <md-card>
    <button md-button disabled>OFF</button>
    <button md-raised-button disabled>OFF</button>
    <button md-mini-fab disabled><md-icon>check</md-icon></button>
  </md-card>
</div>
<div>
  <form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Company (disabled)" disabled value="Google">
  </md-input-container>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="First name">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Long Last Name That Will Be Truncated">
    </md-input-container></td>
  </tr></table>

  <p>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
    </md-input-container>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Address 2"></textarea>
    </md-input-container>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="City">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="State">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
    </md-input-container></td>
  </tr></table>
</form>
</div> -->
<div class="app-content">
<div class="demo-card-container">
  <md-card style="background:red">
    Hello
  </md-card>

  <md-card>
    <md-card-title-group>
        <md-card-title>Card with title</md-card-title>
        <md-card-subtitle>Subtitle</md-card-subtitle>
        <img md-card-md-image>
    </md-card-title-group>
  </md-card>

  <md-card>
    <md-card-subtitle>Subtitle</md-card-subtitle>
    <md-card-title>Card with title and footer</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
    <md-card-footer>
      <md-progress-bar mode="indeterminate"></md-progress-bar>
    </md-card-footer>
  </md-card>

  <md-card>
    <img md-card-image src="https://material.angularjs.org/latest/img/washedout.png">
    <md-card-title>Content Title</md-card-title>
    <md-card-content>
      <p>Here is some content</p>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="primary">LIKE</button>
      <button md-raised-button style="background:#009688;color:white">SHARE</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-header>
      <img md-card-avatar>
      <md-card-title>Header title</md-card-title>
      <md-card-subtitle>Header subtitle</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="https://material.angularjs.org/latest/img/washedout.png">
    <md-card-content>
      <p>Here is some content</p>
    </md-card-content>
  </md-card>

  <md-card class="demo-card-blue mat-card-flat">
    <md-card-title>Easily customizable</md-card-title>
    <md-card-actions>
      <button md-button>First</button>
      <button md-button>Second</button>
    </md-card-actions>
  </md-card>
</div>
</div>
