<button md-raised-button color="primary" (click)="smModal.show()">Add Organization</button>

<div bsModal #smModal="bs-modal" class="modal fade" style="font-size: 15px" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="width: 40%">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" style="color: black">Add New Organization</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addOrgForm="ngForm" (ngSubmit)="onAddOrgSubmit(addOrgForm)">
          <p>
            <md-input-container style="width: 100%">
              <input mdInput required type="text" [(ngModel)]="orgName" name="orgName" placeholder="Organization Name">
            </md-input-container>
          </p>
          <p>
            <md-input-container style="width: 100%; color: black">
              <input mdInput required type="text" [(ngModel)]="description" name="description"  placeholder="Description">
            </md-input-container>
          </p>
          <p>
            <input type="submit" class="btn btn-primary btn-sm" value="Submit">
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
