.body-container {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
}

.sidbar-container {
  background-color: var(--color-cloud);
  display: flex;
  flex-direction: column;
  flex: 2;
  box-shadow: 0 0 9px #808080;

}

.menu-item {
  padding: 15px;
  border-bottom: 1px solid #CFD8DC;
  font-size: 15px;
  font-weight: bold;
  outline: none;
}

.menu-item:hover {
  background-color: #CFD8DC;
  cursor: pointer;
  color:#37474F;
}

.menu-item-active {
background-color: #4FC3F7;
  color: #37474F;
}
.menu-item-active:hover {
background-color: #4FC3F7;
  color: #37474F;
}
