<md-toolbar color="primary" style="background-color: #37474F;">
    <a class="title" routerLink="/">
        Application Health Monitor</a>
    <select *ngIf="authService.loggedIn()" style="color: #37474F; outline: none; width: 20%; margin-left: 20px" (change)="persistOrg($event.target.value)">
      <option value="-1">Select an organization</option>
      <option value="0">Option1</option>
      <option value="2">Option2</option>
      <option value="3">Option3</option>
    </select>
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    </div>
    <app-login *ngIf="!authService.loggedIn()"></app-login>
    <span style="position: absolute; right: 0;">
    <button md-button style="padding: 0px;" *ngIf="authService.loggedIn()" aria-hidden="true" (click)="onLogoutClick()" routerLink="/" style="cursor: pointer" tooltip="Click here to logout" placement="bottom">
      <i class="fa fa-sign-out" style="font-size: 21px"></i>
    </button>
  </span>

</md-toolbar>
