<md-toolbar color="primary" style="background-color: #37474F">
    <a class="title" routerLink="/">
        Application Health Monitor</a>
    <select *ngIf="authService.loggedIn()" style="color: #37474F; outline: none; width: 20%; margin-left: 20px" (change)="persistOrg($event.target.value)">
      <option value="-1">Select an organization</option>
      <option value="0">Option1</option>
      <option value="2">Option2</option>
      <option value="3">Option3</option>
    </select>
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    </div>

    <button md-icon-button *ngIf="authService.loggedIn()" [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item routerLink="/profile">Profile</button>
    <button md-menu-item (click)="onLogoutClick()" routerLink="/">Logout</button>
</md-menu>
